:root {
  --primary: #222222;
  --secondary: #ffffff;
  --tertiary: #0088cc;
  --quaternary: #e45735;
  --header-background: #ffffff;
  --header-primary: #333333;

}

* {
  box-sizing: border-box;
}


.d-header {
    box-shadow: none;
    height: 5em;
  }

.d-header {
    .panel {
        background-color: var(--quaternary);
        border-radius: 15px;
        padding: 5px;
    }
}

.default, .posts, .views, .activity {
  display: none;
}


.topic-list {
  width: 100%;
  .topic-list-item {
    float: left;
    width: 33.3%;
    height: 150px;
    &:hover {
      transition: transform .75s;
      transform: translateX(5px);
    }
  }
}

.nav-pills > li > a {
  transition: background .75s;
}

.btn {
  transition: all .75s;
  background-color: var(--secondary);
}


#switcher-container {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 20px);
  max-width: 1110px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px;
}

.themes {
  padding: 6px 10px;
  border-radius: 15px;
  transition: background .75s;
  background-color: transparent;
  &:hover {
    background-color: var(--quaternary);
  }
}

