:root {
  --primary: #222222;
  --secondary: #ffffff;
  --tertiary: #0088cc;
  --quaternary: #e45735;
  --header-background: #ffffff;
  --header-primary: #333333;

}

* {
  box-sizing: border-box;
}


.d-header {
    box-shadow: none;
    height: 5em;
  }

.d-header {
    .panel {
        background-color: var(--quaternary);
        border-radius: 15px;
        padding: 5px;
    }
}

.default, .posts, .views, .activity {
  display: none;
}


.topic-list {
  width: 100%;
  .topic-list-item {
    float: left;
    width: 33.3%;
    height: 150px;
    &:hover {
      transition: transform .75s;
      transform: translateX(5px);
    }
  }
}

.nav-pills > li > a {
  transition: background .75s;
}

.btn {
  transition: all .75s;
  background-color: var(--secondary);
}


// Start of toggle switch styles
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 20px;
	background: grey;
	display: block;
	border-radius: 20px;
	position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 18px;
    transition: 0.3s;
  }
}

input:checked + label {
	background: var(--quaternary);
}

input:checked + label:after {
	left: calc(100% - 1px);
	transform: translateX(-100%);
}

label:active:after {
	width: 26px;
}

// Eng of toggle switch styles